<div class="center hero-unit">
	<% if user_signed_in? %>
		<h2> Checkout </h2>

		<div align = "left" style="width:400px">
			<h4> Cart - Php<%= get_cart_total_price %></h4>
			<div>
				<% (0..@cart_list.size-1).each do |i| %>
					<%= @cart_list[i].name %> (Php<%= @cart_list[i].price %>, 
					<% if @cart_items[i].quantity > 1 %> 
						<%= @cart_items[i].quantity %> pieces
					<% else %>
						1 piece
					<% end %>
					)<br>
				<% end %>
			</div>


		</div> 



		<%= form_tag url_for(:controller=>"home", :action => "checkout"), :method => "post" do %>
				<%= field_set_tag 'Billing Information' do |f| %>
				  <p>First Name:     <%= text_field_tag 'firstname', nil, :required => true %></p>
				  <p>Last Name:      <%= text_field_tag 'lastname', nil, :required => true %></p>
				  <p>Company: <%= text_field_tag 'company', nil %></p>
				  <p>Email: <%= email_field_tag 'email', nil, :required => true %></p>
				  <p>Phone: <%= phone_field_tag 'phone', nil, :required => true %></p>
				  <br><br>
				  <p>Address: <%= text_field_tag 'address', nil, :required => true %></p>
				  <p>Address2: <%= text_field_tag 'address2', nil, :required => true %></p>
				  <p>City: <%= text_field_tag 'city', nil, :required => true %></p>
				  <p>Postal/ZIP Code: <%= text_field_tag 'postal', nil, :required => true %></p>
				  <p>Country: <%= country_select("", "") %></p>
				<% end %>
				<br>

				<%= field_set_tag 'Credit Card Details' do |f| %>
				  <p>Card type:      <%= select_tag "Cart type", "<option>VISA</option><option>MasterCard</option><option>AMEX</option>".html_safe %> </p>
				  <p>Card Number:     <%= text_field_tag 'firstname', nil, :required => true %></p>
				  <p>Expiration: <%= text_field_tag 'yy', nil, :size=>"2", :placeholder =>"YY", :required => true %> / <%= text_field_tag 'mm', nil, :size=>"2", :placeholder =>"MM" , :required => true %></p>
				  <p>CVV: <%= text_field_tag 'company', nil, :required => true %></p>
				  <% end %>
				<%= submit_tag 'Checkout', class: "btn btn-default" %> 
		<% end %>


	<% end %>
</div>